# Gmail OAuth2
EMAIL_USER=taichinhdfs@gmail.com
OAUTH_CLIENT_ID=xxxxxx.apps.googleusercontent.com
OAUTH_CLIENT_SECRET=yyyyyy
OAUTH_REFRESH_TOKEN=zzzzzz
#OAUTH_REDIRECT_URI=https://developers.google.com/oauthplayground
EMAIL_FROM="TaichinhDFS <taichinhdfs@gmail.com>"

# Google Sheets (service account)
#GOOGLE_SHEET_ID=your-google-sheet-id
#GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@project.iam.gserviceaccount.com
#GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
